<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/head.ejs') %>
</head>

<body>
  <div class="app">
    <header>
      <%- include('../partials/navbar.ejs') %>
    </header>

    <main class="container">
      <div class="form">
        <h1 class="title">Reset Password</h1>
        <form action="/forget-password" method="post" class="login-form">
          <div class="form-content">
            <label for="email">Email address</label>
            <input type="email" placeholder="Enter your email" name="email" required>
            
          </div>
          <div class="notification">
            <% if(typeof message!='undefined' ){ %>
              <p style="color: red" class="message">
                <%= message %>
              </p>
              <% } %>
          </div>
          <div class="sent">
            <input type="submit" class="submit" value="Send Reset Password">
          </div>

          
        </form>
      

      </div>



    </main>
    <footer class="copyright">
      <%- include('../partials/footer.ejs') %>
    </footer>
  </div>

</body>

</html>